/*
    COLOR PALLETE
    footer/nav-menu/header font color: #074272
    login button font: #5288c1
    login button/footer span background: #e5f4fa 
    learn more button background: #074272
    chart font color: #939396 (Might use a screenshot, we'll see)
*/

.hero-buttons-background {
    max-width: 100vw;
    background-color: #e5f4fa;
}

.hero-buttons {
    max-width: 60vw;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.hero-buttons>button {
    background-color: #fff;
    border: none;
    cursor: pointer; /* Might change these buttons to 'cards' of links */
}
