/*
    TODO:
        Footer doesn't force to bottom on little content pages
            May not be an issue after pages are filled out but doesn't feel right

*/
body {
    max-width: 100vw;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color:#074272;
}

header {
    max-width: 60vw;
    color: #074272;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-content {
    max-width: 60vw;
    margin: 2rem auto;
}

.nav-container {
    background-color: #074272;
}

.nav-menu {
    max-width: 60vw;
    margin: 0 auto;
    display: flex;
    justify-content: right;
    padding: 0.5rem;
}

.nav-menu>a {
    color: #fff;
    border: 0.02rem solid #fff;
    border-top-style: none;
    border-bottom-style: none;
    padding: 0 0.25rem;
}

.xyz-pages {
    color: #074272;
    font-weight: bold;
    display: flex;
    gap: 1rem;
}

.footer-container {
    background-color: #e5f4fa;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    max-width: 60vw;
    margin: 0 auto;
    align-items: center;
}

.footer-links {
    display: flex;
    gap: 1rem;
}