/*
    COLOR PALLETE
    footer/nav-menu/header font color: #074272
    login button font: #5288c1
    login button/footer span background: #e5f4fa 
    learn more button background: #074272
    chart font color: #939396 (Might use a screenshot, we'll see)
*/
body {
    max-width: 75vw;  /* TODO: Review on proper units, this works for now */
    margin: 2rem auto;
}

a {
    text-decoration: none;
}

header {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.xyz-pages {
    display: flex;
    gap: 1rem;
}

.hero-banner>img{
    max-width: 100%;
}

.nav-menu {
    display: flex;
    justify-content: right;
    gap: 0.25rem;
}